@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #0a0a0a;
    color: white;
    scroll-behavior: smooth;
}

@layer utilities {
    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }

    @keyframes blink {
        0%, 50% { 
            opacity: 1; 
        }
        51%, 100% { 
            opacity: 0; 
        }
    }

    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
    
    .animate-blink {
        animation: blink 1s infinite;
    }
}